@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
     background-color: #2c2b2b;
     

}
h1, h2{
    color: brown;
    text-align: center;
}
section{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}
.bloque{
    width: 100%;
    background-color: #141313;
    border-radius: 7px;
    padding: 7px ;
    margin: 10px;
}
.bloque code{
    color: #dc143c;
    font-size: 2rem;
}
p{
    color: #d12950; 
    font-size: 1.2rem;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;

}
.ejemplo{
    width: 100%;
}